.item {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 15px;
  padding-left: 15px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
}

.avatar {
  margin-left: 10px;
  display: block;
  border-radius: 4px;
}

.name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
}

.online {
  background-color: green;
}
